.transaction-container {
  .transaction-day {
    border-bottom: 2px solid lightgrey;
    width: 40%;
    margin: auto;

    .transaction-row {
      display: grid;
      grid-template-columns: 2fr 1fr;

      border-bottom: 2px solid blue;

      .transaction-type {
      }

      .amount-fee {
        .transaction-amount {
        }

        .transaction-fee {
        }
      }
    }
  }
}
