<div
  class="transaction-container"
  *ngFor="let transItem of GetTransactionItems()"
>
  <div
    (click)="showDay(transItem.Day)"
    class="transaction-day"
    *ngIf="transItem.Amount"
  >
    {{ formatDate(transItem.Transactions[0].Date) }}
    <div class="transaction-amount">
      Transaction Amounts {{ transItem.Amount | currency: "GBP" }}; Fees
      {{ transItem.FeeAmount | currency: "GBP" }}
    </div>
    <div *ngIf="detailDays[transItem.Day]">
      <div class="transaction-row" *ngFor="let trans of transItem.Transactions">
        <div class="transaction-type">
          {{ TransactionType[trans.PaymentType] }}
        </div>
        <div class="amount-fee">
          <div class="transaction-amount">Transaction £{{ trans.AMT }}</div>
          <div class="transaction-fee">
            {{ trans.FeeType ? "TRF" : "IPO" }} - Fee
            {{ trans.Fee | currency: "GBP" }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
