.login-page {
  font-family: arial;
  display: block;
  height: 1000px;
  width: 100%;

  .one {
    height: 50%;
  }

  .two {
    height: 50%;
    background-color: #5da9e9;
  }

  .login-form {
    position: absolute;
    left: 10%;
    top: 17%;
    border-radius: 20px;
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 25%;
    margin: auto;
    margin-top: 200px;

    -webkit-box-shadow: 3px 3px 5px 0px rgba(143, 130, 143, 1);
    -moz-box-shadow: 3px 3px 5px 0px rgba(143, 130, 143, 1);
    box-shadow: 3px 3px 5px 0px rgba(143, 130, 143, 1);

    h1 {
      margin-top: 20px;
      text-align: center;
    }

    input {
      margin: 5px auto;
      width: 300px;
      border: none;
      border-bottom: 1px solid black;
      padding: 7px;
    }

    .submit-button {
      font-size: 20px;
      color: white;
      background-color: #5da9e9;
      border-bottom: none;
      margin-bottom: 20px;
    }

    .submit-button:hover {
      cursor: pointer;
      background-color: #1f89e0;
      transition: background-color 0.5s ease-out;
    }
  }
}
