.login-page {
  font-family: arial;
  display: block;
  height: 1000px;
  width: 100%;

  .login-form {
    border-radius: 20px;
    background-color: #5da9e9;
    display: flex;
    flex-direction: column;
    width: 500px;
    margin: auto;
    margin-top: 200px;

    -webkit-box-shadow: 3px 3px 5px 0px rgba(143, 130, 143, 1);
    -moz-box-shadow: 3px 3px 5px 0px rgba(143, 130, 143, 1);
    box-shadow: 3px 3px 5px 0px rgba(143, 130, 143, 1);

    h1 {
      margin-top: 20px;
      text-align: center;
    }

    input {
      margin: 5px auto;
      width: 300px;
      border: none;
      border-bottom: 1px solid black;
      padding: 7px;
    }

    .submit-button {
      background-color: whitesmoke;
      border-bottom: none;
      margin-bottom: 20px;
    }

    .submit-button:hover {
      background-color: grey;
      transition: background-color 2s ease-out;
    }
  }
}
