header {
  background-color: #5da9e9;
  ul {
    font-weight: bold;
    list-style-type: none;
    margin: auto;
    padding: 0;
    overflow: hidden;
    display: flex;
  }

  li {
    float: left;
    color: white;
    padding: 16px;
    text-decoration: none;
  }

  li:hover {
    color: lightgray;
    transition: color 0.5s ease-out;
    cursor: pointer;
  }
}
