<div class="chart">
    <div class="chart__account_select">
        <div class="chart__account_view" *ngFor="let account of getUniqueAccounts()" (click)="updateSelectedAccount(account)">
            {{account}}
        </div>
    </div>

    <div class="chart__holder">
        <canvas baseChart
            [chartType]="'bar'"
            [datasets]="chartData"
            [labels]="chartLabels"
            [options]="chartOptions"
            [legend]="true"
            [colors]="chartColors">
        </canvas>
    </div>
</div>


